body {
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Xanh Mono', monospace;
    text-align: center;
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Xanh Mono', monospace;
}

p {
    color: #8f8f8f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Heading */
.big-heading{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Xanh Mono', monospace;
    line-height: 1.5;
    font-size: 3.5rem;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}


.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigattion Bar  */
.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    text-align: left;
}

/* Download Button  */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Image Tilte  */
.image-title {
    transform: rotate(25deg);
    /* Equal to rotateZ(45deg) */
    width: 300px;
    height: 550px;
    position: absolute;
    right: 25%;


}

/* Features section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;

}
.fearture-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.fearture-box {
    
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: red;
}

/* Testimonials section  */

#testimonials {

    
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

/* press section  */
#press {
    background-color: #ef8172;
    
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;

}

.carousel-item {
    padding: 7% 15%;
}

/* pricing section */
#pricing {
    padding: 100px;
    
}
.pricing-heading-text{
    font-size: 1.5rem;
    font-weight: bold;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */
#cta {
    
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}

/* Footer Section */
#footer {
    
    padding: 7% 15%;
    background-color: #fff;

}

.social-icon {
    margin: 20px 10px;
}

@media(max-width:1028px) {
    #title {
        text-align: center;
    }

    .image-title {
        position: static;


    }
}
