body {
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Xanh Mono', monospace;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Xanh Mono', monospace;
    line-height: 1.5;
    font-size: 3.5rem;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigattion Bar  */
.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
}

/* Download Button  */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Image Tilte  */
.image-title {
    transform: rotate(25deg);
    /* Equal to rotateZ(45deg) */
    width: 300px;
    height: 550px;
    position: absolute;
    right: 25%;
    

}

/* Features section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
}

.fearture-box {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: red;
}

/* Testimonials section  */

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

/* press section  */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;

}

.carousel-item {
    padding: 7% 15%;
}

/* pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}
@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .image-title{
        position: static;
        
    }
}
